@media screen and (max-width: 768px) {
	body{
		background: pink;
	}
	div#chavo{
		background-size: 100% 100%;
	}
	div.pad{
		padding: 0%;
	}
	div.text-right{
		text-align: center;
	}
	div.text-left{
		text-align: center;
	}
}